// targetprog --- target program
//////////////////////////////////////////////////////////////////////////////

#include "targetver.h"
#include <windows.h>
#include <dlgs.h>

/////////////////////////////////////////////////////////////////////////////
// Encoding

#pragma code_page(65001)    // UTF-8

/////////////////////////////////////////////////////////////////////////////
// Icon

1 ICON "targetprog.ico"

/////////////////////////////////////////////////////////////////////////////
// Dialog

1 DIALOG 0, 0, 125, 60
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_DLGFRAME
CAPTION "Target Program"
FONT 9, "MS Shell Dlg"
{
    DEFPUSHBUTTON "DO &TEST!", psh1, 32, 36, 60, 14
}
